# === Fichiers systèmes ===
.DS_Store
Thumbs.db

# === Java / JDeveloper ===
*.class
*.log
*.tmp
*.bak
*.rej
*.orig

# === IDE (JDeveloper/NetBeans/Eclipse) ===
/.idea/
/nbproject/private/
/build/
/dist/
/out/
/target/
*.iml

# === Fichiers de build ===
/classes/
/deploy/
/output/
*.ear
*.war
*.jar

# === Oracle ADF spécifiques ===
/.DCMetaData/
*.jws
*.jpr
*.jpx
*.jspx~
*.jspx#
*.jspx.sav
*.jsff~
*.jsff.sav
*.jspx.backup
*.jsff.backup
*.bkp

# === VCS ===
*.swp
*.swo

# === Configuration spécifique machine ===
*.data
*.dat
*.db
*.log
*.properties
*.bak

# === Configuration WebLogic locale ===
*.domain
*.wlx
*.wlf
*.wlfbak
*.wltemp
*.wlslog
*.wlnotfound

# === Configuration OS ===
ehthumbs.db
Icon?
desktop.ini