@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


af|column::column-header-cell-content {
    color: Navy; 
}
.AFTableCellDataHGrid:alias {
    border: 1px; 
}

af|table::data-row {
    height: 30px !important; 
}

af|column::column-header-cell {
    background-color: #FFFfff; 
    color: #007897; 
    border-color: #007897; 
    border: 0px; 
    border-bottom: 2px solid #007897; 
}

.AFTableCellDataVGrid:alias {
    border: 0px; 
}

af|panelWindow::title {
    text-align: center; 
    color: #fff; 
}

af|panelWindow::header {
    background-color: Highlight; 
}

af|dialog {
    background-color: White;
    border-color: #2897e8;
}

af|dialog::header, af|dialog::header-end, af|dialog::header-start, af|dialog::title {
    color: white;
    text-align: center;
    background-color: #2897e8;
    background-image: none;
    font-family: Arial;
    padding: 3px;
}

af|dialog af|button {
    background-color: #2897e8;
    text-align: center;
    vertical-align: middle;
    color: White;
    background-image: none;
    width: 50%;
}

af|dialog af|button::link {
    text-align: center;
    vertical-align: middle;
    color: White;
    background-image: none;
    font-family: Arial;
}

/*Set hover event properties for dialog button*/
af|dialog af|button:hover {
    text-align: center;
    vertical-align: middle;
    background-color: #2897e8;
    color: white;
    background-image: none;
    /*width: 100px*/
}

af|dialog af|button::link:hover {
    text-align: center;
    vertical-align: middle;
    background-color: #2897e8;
    color: white;
    background-image: none;
    font-family: Arial;
}

af|column::banded-data-cell {
    border: 2px solid Blue; 
}

af|column::data-cell {
    font-size: 16px; 
    font-family: Arial, sans-serif; 
}

/*Style Déliberation width class*/

af|table.delibTable {
    color: Highlight;
}
af|table.delibTable af|column::column-header-cell-content {
    color: Navy; 
}

af|table.delibTable::data-row {
    height: 30px !important; 
}

af|table.delibTable af|column::column-header-cell {
    background-color: #FFFfff; 
    color: #007897; 
    border-color: #007897;
    border: 0px;
    border-bottom: 2px solid #007897;
    border-right:  1px solid #007897;
}

/* Bordered tab style*/
af|table.mytab af|column::column-header-cell-content {
    color: Navy; 
}
af|table.mytab::data-row {
    height: 30px !important;
}

af|table.mytab af|column::column-header-cell {
    background-color: #FFFfff;
    color: #007897;
    border-bottom:  2px solid #007897;
    border-right:  1px solid #007897;
}

af|panelTabbed::tab af|panelTabbed::tab-text-link {
    color: white;
    font-weight: bold;
}

/*To Change tab style*/
af|panelTabbed::tab {
background-color: #2897e8;
width: 200px;
text-align: center;
margin: 2px ;
text-wrap: normal;
flex-item-align: center;
flex-direction: row;
}

/*To increase size of tab content to match with tab width*/
af|panelTabbed::tab af|panelTabbed::tab-content {
width: 200px;
}
af|panelFormLayout.mypan{
    margin-top:300px; margin-left:200px;
}