@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Numans');
body{
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    font-family: 'Varela Round', sans-serif;
}
/* Bordered form */
form {
    width:100%;
    padding: 20px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container{
    width:450px;
    margin:0 auto;
    margin-top:5%;
}

#container h3{
    width: 70%;
    margin: 2px auto;
    padding-bottom: 15px;
}
.img-circle {
    border-radius: 60%
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 15px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: Black;
  color: white;
  text-align: center;
}
img {
    border: none;
}
.input-group-addon .fa {
        font-size: 18px;
}
.login-form {
        width: 385px;
        margin: 30px auto;
}